* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* utilities */
.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

a {
    text-decoration: none;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn,
.btn:link,
.btn:visited {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.btn-main {
    font-size: 2.4rem;
    padding: 2.5rem 7.5rem;
    border: 0;
    text-transform: uppercase;
    background-color: #60e4b1;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(14, 10, 10, 0.3);
    box-shadow: 0 1rem 2rem rgba(14, 10, 10, 0.3);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-main:hover {
    -webkit-box-shadow: 0 1rem 2rem rgba(14, 10, 10, 0.1);
    box-shadow: 0 1rem 2rem rgba(14, 10, 10, 0.1);
    background-color: #97e7c8;
    -webkit-transform: translateY(0.2rem);
    -ms-transform: translateY(0.2rem);
    transform: translateY(0.2rem);
}

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

/* POPUP CONTENT */
.content {
    height: 60rem;
    width: 58rem;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    /* overflow: hidden; */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 0;
}

.top {
    padding: 2rem 0;
    height: auto;
    width: 100%;
    background-color: #00203d;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.popup-close {
    position: fixed;
    padding: 1rem;
    top: -1rem;
    right: -1rem;
    background-color: #777;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.x {
    height: 1rem;
    width: 1rem;
    fill: #fff;
}

.popup-close:hover {
    background-color: #ccc;
}

.btn-create {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border: 3px solid #96e7d6;
    padding: 0.3rem 2rem;
    color: #96e7d6;
    font-weight: 400;
    font-size: 1.7rem;
    border-radius: 5px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.space-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.top-content-left {
    margin-left: 5rem;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.logo {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

h1 {
    font-size: 2.6rem;
    color: #cdebc2;
    letter-spacing: 0;
    font-weight: 900;
}

h3 {
    color: #777;
    font-size: 1.6rem;
    font-weight: 500;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
}

h3:hover {
    color: #b6b4b4;
}

h4 {
    font-size: 1.5rem;
    color: #90b0a8;
    font-weight: 100;
    justify-self: flex-end;
}

h5 {
    color: #373737;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.top-content-right {
    /* pass */
    margin-right: 5rem;
}

.garden {
    height: 22.5rem;
    width: 22.5rem;
}

.mid {
    padding: 5rem 4rem 3rem 5rem;
}

.btn-signup {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    background-color: #4285f5;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.google {
    background-color: #fff;
    border-radius: 50%;
    padding: 3px;
    margin-right: 7rem;
}

.btn-signup:hover {
    background-color: #578ff0;
}

.btn-social {
    margin-left: 2rem;
    fill: #777;
    border: 1px solid #838282;
    padding: 1.5rem;
    border-radius: 5px;
    height: 1.6rem;
    width: 1.6rem;
    justify-self: flex-end;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.btn-social:hover,
.btn-twitter:hover,
.btn-facebook:hover {
    fill: #b8b6b6;
    border: 1px solid #b8b6b6;
}

.hr {
    display: block;
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.footer {
    margin-top: 3.5rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.signin {
    margin-left: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #0071ab;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.signin:hover {
    color: #0798e0;
}
